<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.gnos.bloard</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.gnos.bloard/reloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.gnos.bloard/reloadPrefs</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.gnos.bloard</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>color</string>
			<key>label</key>
			<string>Keyboard Color</string>
			<key>validTitles</key>
			<array>
				<string>Black</string>
				<string>Dark gray</string>
				<string>Light gray</string>
				<string>White</string>
				<string>Gray</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Magenta</string>
				<string>Orange</string>
				<string>Purple</string>
				<string>Brown</string>
			</array>
			<key>validValues</key>
			<array>
				<string>Black</string>
				<string>Dark gray</string>
				<string>Light gray</string>
				<string>White</string>
				<string>Gray</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Magenta</string>
				<string>Orange</string>
				<string>Purple</string>
				<string>Brown</string>
			</array>
		</dict>
		<dict>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.gnos.bloard.plist</string>
			<key>ALAllowsSelection</key>
			<true/>
			<key>label</key>
			<string>Blacklist</string>
			<key>ALChangeNotification</key>
			<string>com.gnos.bloard/reloadPrefs</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>System Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<integer>29</integer>
					<key>suppress-hidden-apps</key>
					<true/>
				</dict>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<integer>29</integer>
					<key>suppress-hidden-apps</key>
					<true/>
					<key>footer-title</key>
					<string>Apps disabled here will behave normally, and will have either a dark or light keyboard as they would normally have.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Donation / Contact us</string>
			<key>footerText</key>
			<string>Developed by GN-OS © 2013</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>donation</string>
			<key>label</key>
			<string>Donate to GN-OS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>label</key>
			<string>Follow us on twitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>Bloard</string>
</dict>
</plist>
